# Maven
restful/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*~.nib
restful/**/target/
release.properties

restful/src/main/resources/application.properties

# VS Code
.vscode/

# General
.DS_Store
*.class
*.log
*.jar
*.war
*.ear
