# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*~.nib
**/target/
release.properties

# Eclipse
.classpath
.project
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# General
.DS_Store
*.class
*.log
*.jar
*.war
*.ear
